<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Readit: Sign Up</title>
    <link rel="stylesheet" href="/assets/stylesheet/main.css">
    <link rel="stylesheet" href="/assets/stylesheet/forms.css">
</head>
</head>
<body>
    <div id="main-content">
        <div class="header">
            <div class="container">
                <a href="/" class="logo">Readit</a>
                <div class="links">
                    <a href="/">Home</a>
                    <a href="/user/signup" class="button">Sign up</a>
                </div>
            </div>
        </div>
        <div class="main">
            <form class="form-container" method="POST">
                <h1>Sign In</h1>
                <div class="form">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" value="Sign in">
                </div>
            </form>
        </div>
    </div>
</body>
</html>